* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #000;
    color: #fff;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/fundo-filmes.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

header .logo {
    width: 9.25rem;
    height: 2.5rem;
}

header #btn-entrar {
    background: rgb(229, 9, 20);
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding: 0.25rem 1rem;
    width: auto;
    height: 2.2rem;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    cursor: pointer;
}

header #btn-entrar:hover,
.btn-inscricao:hover {
    background: rgb(192, 5, 15);
}

header .container {
    display: flex;
    gap: 1.5rem;
}

select {
    background: transparent;
    color: inherit;
    appearance: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
}

.select {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border: solid 1px black;
    border-radius: .25rem;
    align-items: center;
    padding: 0 7px;
    gap: 10px;
    border: 1 solid transparent;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    max-width: 10rem;
    min-height: 2rem;
}


.select::before {
    content: url(../images/icon-globo.svg);
    pointer-events: none;

}

.select::after {
    content: url(../images/icon-seta.svg);
    pointer-events: none;
}

.select img {
    width: 16px;
    height: 16px;
}

.options {
    background-color: rgba(22, 22, 22, 0.7);
}

header .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    text-align: center;
}

header h1 {
    font-size: 2.6rem;
    font-weight: 900;
}

header p {
    font-size: 1.5rem;
    font-weight: 400;
}

header h3 {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: 400;
}


.input-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 36.6rem;
    gap: 10px;
}

.input {
    fill: currentcolor;
    font-size: 1rem;
    font-weight: 400;
    min-width: 12.5rem;
    width: 100%;
    align-items: center;
}

.input-email {
    width: 100%;
    color: transparent;
    line-height: 1.5rem;
    padding: 1.5rem 1rem 0.5rem;
    min-height: 16px;
    min-width: 16px;
    background: transparent;
    border: 0 solid transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    color: inherit;
    font-size: inherit;
}

.btn-inscricao {
    background: rgb(229, 9, 20);
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem 1.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    cursor: pointer;
}

main h2 {
    font-size: 3rem;
    font-weight: 900;
}

main p {
    font-size: 1.5rem;
    font-weight: 400;
}

main .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 9rem;
    align-items: center;
}

main .conteudo img {
    width: 100%;
}

main .container-texto {
    width: 50%;
}

main .container-img {
    width: 50%;
    position: relative;
}

main .container-video {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

main .video1 {
    max-width: 73%;
    max-height: 57%;
    top: 46%;
    left: 50%;
}

main .video2 {
    max-width: 63%;
    max-height: 47%;
    top: 34%;
    left: 50%;
}

main .container-download {
    position: absolute;
    padding: 0.5rem 0.75rem;
    display: flex;
    gap: 10px;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
    overflow: hidden;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);
    background: #000;
    width: 60%;
    min-width: 15rem;
    align-items: center;
}

main .container-download img {
    height: 4.5rem;
    width: auto;
}

main .titulo {
    font-size: 1rem;
    font-weight: 500;
}

main .descricao {
    font-size: 0.8rem;
    font-weight: 400;
    color: #0071eb;
}

main .download-gif {
    height: 3.75rem;
    width: 3rem;
    background: url(../images/download-icon.gif) center center no-repeat;
    background-size: 100%;
}

main .perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    gap: 20px;
}

main .perguntas ul {
    font-size: 1.5rem;
    font-weight: 400;
}

main .perguntas ul li {
    margin: 0 0 0.5rem 0;
}

main .perguntas ul h3 {
    display: flex;
    background-color: rgb(45, 45, 45);
}

main .perguntas ul h3:hover {
    background-color: rgb(94, 91, 91);
}

main .perguntas ul h3 button {
    padding: 1.5rem;
    appearance: none;
    box-sizing: content-box;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

main .perguntas ul h3 button img {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 8rem;
}

footer {
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a {
    color: #fff;
}

footer p {
    padding: 2.5rem 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

footer ul li {
    min-width: 300px;
}

.separador {
    width: 100%;
    height: 0.5rem;
    background-color: rgb(35, 35, 35);
}

@media screen and (max-width:600px) {

    header .logo {
        width: 7rem;
        height: 2rem;
    }

    header h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    .input-button {
        flex-direction: column;
    }

    .btn-inscricao {
        width: 11rem;
        height: 3rem;
    }

    main h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    main p {
        font-size: 1.125rem;
        margin: 1rem 0 0;
        font-weight: 400;
    }

    main .conteudo {
        flex-direction: column;
        padding: 1.5rem;
        text-align: center;
    }

    main .container-texto {
        width: 100%;
    }

    main .container-img {
        width: 100%;
    }

    main .perguntas {
        padding: 2rem 3.5rem;
        text-align: center;
    }

    main .perguntas h3 {
        font-size: 1.125rem;
        font-weight: 400;
    }

    main .perguntas ul h3 button img {
        width: 1rem;
        height: 1rem;
        margin-left: 8rem;
    }

    footer {
        padding: 0 0 0 1.5rem;
    }

    footer ul li {
        font-size: 0.875rem;
        font-weight: 400;
        min-width: 175px;
    }
}